<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create new item</title>
</head>
<body>
    <div class=header>
        <a href="/dashboard">Home</a>
        <a href="/logout">Logout</a>
    </div>
    <div class=itemcreate>
        <h2>Create a New Wish List Item</h2>
        <form action="/createprocess" method="post">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
        {% endfor %}
        </ul>
        {% endif %}
        Item/Product:<input type="text" name="name">
        <button>Add</button>
        </form>
    </div>
</body>
</html>