<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Login and Registration</title>
</head>
<body>
    <div class="col-sm-4">
        <h2>Registration :))))</h2><br>
        <form action='/register' method='post'>
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
        {% endfor %}
        </ul>
        {% endif %}
        First Name:<input type="text" name="first_name" class="form-control"><br>
        Last Name:<input type="text" name="last_name" class="form-control"><br>
        Email:<input type="text" name="email" class="form-control"><br>
        Password:<input type="text" name="password" class="form-control"><br>
        Confirm Password:<input type="text" name="confirmpassword" class="form-control"><br>
        <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-sm-4">
        <h2>Login</h2><br>
        <form action='/login' method='post'>
        {% csrf_token %}
        Email:<input type="text" name="email" class="form-control"><br>
        Password:<input type="text" name="password" class="form-control"><br>
        <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    
</body>
</html>