<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration</title>
</head>
<body>
    <div class=register>
        <h2>Registration</h2><br>
        <form action='/register' method='post'>
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
        {% endfor %}
        </ul>
        {% endif %}
        First Name:<input type="text" name="first_name"><br>
        Last Name:<input type="text" name="last_name"><br>
        Email:<input type="text" name="email"><br>
        Password:<input type="text" name="password"><br>
        Confirm Password:<input type="text" name="confirmpassword"><br>
        <button>Register</button>
        </form>
    </div>
    <div class=login>
        <h2>Login</h2><br>
        <form action='/login' method='post'>
        {% csrf_token %}
        Email:<input type="text" name="email"><br>
        Password:<input type="text" name="password"><br>
        <button>Login</button>
        </form>
    </div>
    
</body>
</html>